<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.4/vue.min.js"></script>
    <style>
        #app {
            height: 300px;
            width: 300px;
            border: solid 3px black;
            text-align: center;
            margin: 50px auto;
        }
    </style>
</head>

<body>
    <div id="app">
        <child :level='level'>今天是个好日子</child>
    </div>

    <!-- <template id="hdom">
        <div>
            <h1 v-if="level==1">
                <slot></slot>
            </h1>
            <h2 v-if="level==2">
                <slot></slot>
            </h2>
            <h3 v-if="level==3">
                <slot></slot>
            </h3>
        </div>
    </template> -->
</body>
<script>
    // 使用Vue组件定义
    // Vue.component('child', {
    //     template: '#hdom',
    //     props: ['level']
    // })

    // 使用render函数定义
    Vue.component('child',{
        render:function(createElement){
            return createElement('h'+this.level,
            this.$slots.default);
        },
        props: ['level'],
    })
    var app = new Vue({
        el: '#app',
        data: {
            level: 2
        },
    })
</script>

</html>